body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #F3F3F3;
    font-size: 18px;
}

header {
    width: 100%;
    background: #E8804C;
    height: 8rem;
    color: #F3F3F3;
}

header h1 {
    padding-top: 2.5rem;
}

main {
    background: #1697B7;
    margin-bottom: 70px;
    min-height: 200px;
}

/* todo list */


.todoTask {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}


.todoTask form {
    display: inline;
}

.todoTask h3 {
    color: #F3AD78;
}

.symbolButton {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

input {
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.symbolButton {
    background: #F3F3F3;
}

input.symbolButton:hover, input.symbolButton:focus {
    background: #30C3CD;
    cursor: pointer;
    font-weight: bold;
}

/* add new task */
.addTask {
    color: #F3AD78;
    padding-top: 20px;
}

.addTask label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.textBox {
    width: 260px;
    height: 60px;
    border: none;
    text-align: left;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #F3AD78;
}

.linker {
    padding: 10px 0;
    text-decoration: none;
}

a, a:visited, a:active {
    color: #F3AD78;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #E8804C;
}

.editForm {
    margin-top: 20px;
}

.submitButton {
    margin-left: 10px;
}